@page
@model BasicFormModel

@{
    ViewData["Title"] = "Basic Form";
}

<form method="POST">
    <label class="form-label" for="favouriteColour">Favourite Colour</label>
    <input class="form-control" type="text" name="favouriteColour" id="colour">

    <label class="form-label" for="currentlyReading">What are you currently reading?</label>
    <input class="form-control" type="text" name="currentlyReading" id="reading">
    <div class="form-check">

    <input class="form-check-input" type="radio" value="Bird" id="bird" name="pet">
    <label class="form-check-label" for="bird">Bird</label>
    </div>
    <div class="form-check">

    <input class="form-check-input" type="radio" value="Cat" id="cat" name="pet">
    <label class="form-check-label" for="cat">Cat</label>
    </div>
    <div class="form-check">

    <input class="form-check-input" type="radio" value="Dog" id="dog" name="pet">
    <label class="form-check-label" for="dog">Dog</label>
    </div>
    <div class="form-check">

    <input class="form-check-input" type="radio" value="Fish" id="fish" name="pet">
    <label class="form-check-label" for="fish">Fish</label>
    </div>
    <div class="form-check">

    <input class="form-check-input" type="radio" value="None" id="none" name="pet">
    <label class="form-check-label" for="none">None</label>
    </div>
    <button class="btn btn-primary" type="submit" id="formSubmit">Submit</button>
</form>
<div id="formSubmissionResponses"></div>
@section Scripts{
    <script>
        let submitBtn = document.querySelector("#formSubmit");
        let formBody = document.querySelector("form");
        function getSubmission(event) {
            fetch('?handler=',
                {
                    method: 'POST',
                    body: new FormData(formBody),
                }).then((response) => {
                        if(response.ok) {
                            return response.json();
                        }
                        return Promise.reject(response);
            }).then((data) => {
                console.log(data);
                let formSubmissionResponses = document.querySelector("#formSubmissionResponses");
                formSubmissionResponses.innerHTML = "";
                formSubmissionResponses.innerHTML += "<h3>Your form submission</h3>";
                data.forEach(item => {
                    formSubmissionResponses.innerHTML += `<h4>Key: ${item.key}</h4>`;
                    formSubmissionResponses.innerHTML += `<p>Item: ${item.value}</p>`;
                });

            });
        }
    </script>
}    