@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Things I learned while developing Razor Pages</h1>
    <p>Include Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation</p>
    <p>dotnet add package Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation</p>
</div>
